
.veja{

    text-align: center;
    font-size: 30px;
    font-weight: bold;

}








.pesquisa {

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}

.pesquisa p {

  font-size: 20px;
  font-weight: bold;

}

.pesquisaInputs{

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.pesquisaInputs p{

  margin-left: 10px;
  margin-right: 10px;

}








.produto {
    display: flex;
    width: 600px;
    padding: 15px;
    margin: 30px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .imagem{
  
    width: 400px;
  
  }
  
  .preco {
    font-size: 25px;
  }
  
  .descricao {
    background-color: lightgrey;
    padding: 8px;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .rating {
    font-size: 30px;
    text-align: center;
  }
  
  .star {
    color: yellow;
    font-size: 40px;
  }
  
  .button {
    border: 0;
    font-size: 20px;
    width: 200px;
    height: 50px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 30px;
  }
  
  .button:hover {
    background-color: white;
    border: 5px solid lightblue;
  }